
<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Contact us for help
      </span>
    </summary>
    <div class="govuk-details__text">
     <h2 class="govuk-heading-s">Send us a message</h2>
     <p class="govuk-body">Email: <a href="#" class="govuk-link--no-visited-state">contact@justice.gov.uk</a><br><br>
      We aim to get back to you within 5 working days</p>
      <h2 class="govuk-heading-s">Telephone</h2>
      <p class="govuk-body">Telephone: 0300 123 7050</p>
      <p class="govuk-body">Monday to Friday, 8.30am to 5pm</p>
      <p class="govuk-body"><a href="#" class="govuk-link--no-visited-state">Find out about call charges</a></p>
    </div>
  </details>