{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <p><a rel="external" href="task-list-5-individual.html"> < Back</a></p>
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <h1 class="govuk-heading-l">Check your answers before sending your application</h1>

          <h2 class="govuk-heading-m">Dates that you are unavailable</h2>

          <ul class="govuk-list govuk-list--bullet">
            <li>1st December 2023</li>
            <li>4th January to 17th January 2023</li>
            <li>7th February</li>
          </ul>


          <h2 class="govuk-heading-m">Personal details</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name
              </dt>
              <dd class="govuk-summary-list__value">
                Jimmothy Miles
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Telephone number
              </dt>
              <dd class="govuk-summary-list__value">
                07906058892
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> date of birth</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email address
              </dt>
              <dd class="govuk-summary-list__value">
                bigmanjimbo@aol.net
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> customer reference</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                72 Guild Street<br>London<br>SE23 6FH
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
            </div>
          </dl>
          
          <a href="confirmation-page.html">
            <button class="govuk-button" type="submit">
              Accept and send
            </button>
          </a>          
    
          
          
          </form>
        </div>
      </div>
    </main>
  </div>

  {% include 'components/contact.html' %}

  {% endblock %}