{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <a href="task-list-1-individual.html">Start here if claimant is an individual</a>

    <div class="govuk-!-padding-bottom-4"></div>

    <a href="task-list-1-business.html">Start here if claimant is a business</a>

    <div class="govuk-!-padding-bottom-7"></div>

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

{% endblock %}
