{% extends "layouts/main.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{{ govukBreadcrumbs({
items: [
{
text: "Home",
href: "#"
},
{
text: "Section",
href: "#"
},
{
text: "Subsection"
}
]
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p><a rel="external" href="task-list-2-business.html">
        < Back</a>
    </p>

    <h1 class="govuk-heading-l">
      Telephone mediation
    </h1>

    <p>If the claimant disagrees with your response, you must take part in mediation. A telephone mediation appointment will be scheduled at no additional cost.</p>

    <p>An impartial mediator will speak with both parties to see if an agreement can be reached before the case goes to court. You will be able to explain your reasons for rejecting the claim in more detail.</p>

    <p>Mediation will last no longer than one hour and will take place by telephone.</p>

    <h2 class="govuk-heading-m">
      What happens at mediation?
    </h2>

    <p class="govuk-body">We will arrange a phone call with a mediator from the Small Claims Mediation Service. The
      mediator will:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>listen to each side separately – you will not talk directly to the other side</li>
      <li>ask you to consider what the other side says</li>
      <li>help you reach an agreement, if possible</li>
    </ul>

    <h2 class="govuk-heading-m">
      What happens if you do not attend your mediation appointment?
    </h2>
    <p>If you do not attend your mediation appointment, the judge may apply a penalty. This could include the judge automatically ruling in the other party’s favour, or paying for some or all of the other party’s costs.</p>

    <h2 class="govuk-heading-m">
      After the phone call
    </h2>

    <p>If mediation is successful, you will not have to go to court. You will make a agreement over the phone, which we will email to you. You will not have to sign anything, 
      but the agreement is binding.</p>
    <p>If either party breaks the terms of the agreement, the other party can go back to the court to ask for a judgment or hearing.</p>
    <p>If you do not reach an agreement at mediation, you may need to attend a court hearing. Any mediation discussions cannot be mentioned at the hearing.</p>


    <a href="task-list-3-business.html" class="govuk-button" data-module="govuk-button">
      Continue
    </a>

{% include 'components/contact.html' %}


    {% endblock %}